
.logos{
    height: 100px;
    width: 100px;
    border-right: 10px;
}

.black{
    background-color: black;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.black li{
    display: inline;
}