
body{
    margin: 0;
}

.menu{
 background-color: black;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.menu div{
    display: flex;
    margin: 10px;
}

.menu1{
    display: flex;
    justify-content: space-between;
	margin: 0;
}

a.active {
    font-family: Trajan Pro, Times New Roman; 
    color:  rgb(12, 26, 230);
    border-radius: 100px 100px;
    font-variant: small-caps; 
    font-size:16px; 
    padding-left:7px; 
    word-spacing: 1px;
}

ul.menu1{
    display: flex;
    padding: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

li.menuli{
    list-style: none;
    padding: 50px;
    margin-right: 5px;
    text-transform: uppercase;
}

.line{
    border-left: 3px solid #3333FF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.menu1 a:hover{
    border-radius: 100px 100px;
    background-color: rgb(12, 26, 230);
}


.img{
    background-image: url("../images/Techno.webp");
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.textcenter{
    color: #fff;
    margin: 0;
    display: flex;
}

.textmargin{
    margin-left: 135px;
}

.art{
    background-image: url(../images/Newspaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:62.5%;
	line-height:1.4em;
}

article{
	position:relative;
	margin:auto;    
	width:1400px;
	padding:20px;
	background:rgb(220, 224, 178);
	box-shadow:0px 0px 10px #333;
    column-count:2;
    column-rule: 4px solid #333;
}

article header{
	position:relative;
	display:block;
	column-span:all;
	border-bottom:4px solid #333;
}

article header h1{
    font-size:8em;
    line-height:1em;
	font-weight:bold;
	text-transform:uppercase;
	margin:0;
	padding: 0;
}

article header h4{
    font-size: 24px;
    text-align: right;
	padding: 0;
	margin: 3px;
}

article h4{
    font-size: 24px;
}


article p{
	font-size:1.8em;
	line-height:1.6em;
}

article li{
    font-size:1.6em;
}

article aside{
    position:relative;
	display:block;
	font-size:2em;
	line-height:1.2em;
	font-style:italic;
	border-top:2px solid #333;
	border-bottom:2px solid #333;
	margin-bottom:20px;
}

.article-bottom{
    column-span:all;
    border-bottom:4px solid #333;
    border-top:4px solid #333;
    margin: 0;
    padding: 0;
}

.article-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu22{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.textcomp{
    margin-left: 135px;
    color: #FFFFFF;
    width: 300px;
}

.comp-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 250px;
    color: #FFFFFF;
}

.com-div div{
    display: flex;
    flex-direction: column;
}

.comp-div div p{
    text-align: center;
}

.container{
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    column-count: 2;
}

.container li{
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #000;
    padding: 0.6em;
    border-radius: 4px;
    background: #FEFEFE;
    color: #231F20;
    font-family: "Trebuchet MS", "Lucida Sans";
}

.container li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color: #DCC24B;
    background: #FEFEFE;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}

.menu3{
    background-color: #000000;
}

.Zagolovok1{
    color: #FFFFFF;
    text-align: center;
}

.Zagolovok2{
    color: #FFFFFF;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button {
    display: block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 700px;
  }

  .right{
    float: right;
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}

.logos{
    padding-top: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-left: 10px;
}

/*Портфолио*/

/*Резюме*/
.center{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.black{
    background-color: #000;
    color:#FEFEFE;
}

/*Контакты*/

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-div{
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 225px;
    width: 300px;
    border: 3px solid #000000;
    margin: 30px;
}

.contact h2{
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact div span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.contact div p{
    padding-top: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}